name: "Snyk IAC Test"

on:
  push:
    branches:
    - master

jobs:
  Pipeline-Job:
    # Configure Environment
    name: 'Snyk Test'
    runs-on: ubuntu-latest
    env: 
      SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
       
    steps:
    # Checkout Code
    - name: Checkout Code
      uses: actions/checkout@v1

    # Install and Authenticate to Snyk
    - name: Install Snyk & Authenticate
      run: |
         sudo npm install -g snyk
         snyk auth ${SNYK_TOKEN}

    # Run Snyk Infrastructure as Code
    - name: Run Snyk Infrastructure as Code
      run: |
         snyk iac test kubernetes/ --severity-threshold=high --rules=kubernetes/bundle.tar.gz
      continue-on-error: true
